.symbol{
	width: 150px;
	position:absolute;
	left:14%;
	top: 160px;
}


.bg{
	background-color: #F0F0F0;
}

.T1{
	font-family: 'Scope One', serif;
	font-size: 3.4em;
	position: absolute;
	left: 30px;
	top:20px;
	letter-spacing: 1.4px;
	-webkit-writing-mode: vertical-lr
		
}


.T2{
	font-family: 'Scope One', serif;
	font-size: 3.4em;
	position: absolute;
	left: 90px;
	top:90px;
	letter-spacing: 1.4px;
	-webkit-writing-mode: vertical-lr
}


.T3{
	font-family: 'Scope One', serif;
	font-size: 4.4em;
	position: absolute;
	left: 30%;
	top:250px;
	letter-spacing: 1.4px;
	
}

.links{
	display: flex;
	flex-direction: column;
}

.l1{
	
	background-color: #FFFFFF;
	border: solid 2px #DBDBDB;
	position: absolute;
	position: fixed;
	right: 30px;
	top:30px;
	
	text-decoration: none;
	display: flex;
	text-align: center;
	
}



.l2{
	
	background-color: #FFFFFF;
	border-left:solid 3px #F03C3C;
	border-top: solid 2px #DBDBDB;
	border-right: solid 2px #DBDBDB;
	border-bottom: solid 2px #DBDBDB;
	
	position: absolute;
	position: fixed;
	right: 30px;
	top:75px;
	margin-top: 1px;
	text-decoration: none;
	display: flex;
	
}

.l3{
	
	background-color: #151515;
	position: absolute;
	position: fixed;
	right: 30px;
	top:122px;
	margin-top: 1px;
	text-decoration: none;
	display: flex;
	
}

.l4{
	
	background-color: #151515;
	position: absolute;
	position: fixed;
	right: 30px;
	top:164px;
	margin-top: 1px;
	text-decoration: none;
	display: flex;
	
}



.l1w{
	font-family: 'Scope One', serif;
	font-size: .8em;
	letter-spacing: 1.4px;
	color: black;
	padding:13px 60px 13px 20px;
	
	
}


.l2w{
	font-family: 'Scope One', serif;
	font-size: .8em;
	letter-spacing: 1.4px;
	color: black;
	padding:13px 60px 13px 20px;
	text-align: center;
	
}


.l3w{
	font-family: 'Scope One', serif;
	font-size: .8em;
	letter-spacing: 1.4px;
	color: #A8A8A8;
	padding:13px 60px 13px 20px;
	text-align: center;
	
}


.l4w{
	font-family: 'Scope One', serif;
	font-size: .8em;
	letter-spacing: 1.4px;
	color: #A8A8A8;
	padding:13px 60px 13px 20px;
	text-align: center;
	
}





.cp{
	font-family: 'Scope One', serif;
	font-size: .4em;
	letter-spacing: 1.4px;
	color: #616161;
	position: fixed;
	right: 3%;
	top:50%;
}

