.symbol{
	width: 150px;
	position:absolute;
	left:14%;
	top: 160px;
}


.symbol2{
	width: 150px;
	position:absolute;
	right:16%;
	top: 360px;
}


.bg{
	background-color: #F0F0F0;
}

.T1{
	font-family: 'Scope One', serif;
	font-size: 3.4em;
	position: absolute;
	left: 30px;
	top:20px;
	letter-spacing: 1.4px;
	-webkit-writing-mode: vertical-lr
		
}


.T2{
	font-family: 'Scope One', serif;
	font-size: 3.4em;
	position: absolute;
	left: 90px;
	top:90px;
	letter-spacing: 1.4px;
	-webkit-writing-mode: vertical-lr
}


.T3{
	font-family: 'Scope One', serif;
	font-size: 4.4em;
	position: absolute;
	left: 30%;
	top:250px;
	letter-spacing: 1.4px;
	
}

.links{
	display: flex;
	flex-direction: column;
}

.l1{
	
	background-color: #FFFFFF;
	border: solid 2px #DBDBDB;
	position: absolute;
	position: fixed;
	right: 30px;
	top:30px;
	
	text-decoration: none;
	display: flex;
	text-align: center;
	
}



.l2{
	
	background-color: #FFFFFF;
	border-left:solid 3px #F03C3C;
	border-top: solid 2px #DBDBDB;
	border-right: solid 2px #DBDBDB;
	border-bottom: solid 2px #DBDBDB;
	
	position: absolute;
	position: fixed;
	right: 30px;
	top:75px;
	margin-top: 1px;
	text-decoration: none;
	display: flex;
	
}

.l3{
	
	background-color: #151515;
	position: absolute;
	position: fixed;
	right: 30px;
	top:122px;
	margin-top: 1px;
	text-decoration: none;
	display: flex;
	
}

.l4{
	
	background-color: #151515;
	position: absolute;
	position: fixed;
	right: 30px;
	top:164px;
	margin-top: 1px;
	text-decoration: none;
	display: flex;
	
}



.l1w{
	font-family: 'Scope One', serif;
	font-size: .8em;
	letter-spacing: 1.4px;
	color: black;
	padding:13px 60px 13px 20px;
	
	
}


.l2w{
	font-family: 'Scope One', serif;
	font-size: .8em;
	letter-spacing: 1.4px;
	color: black;
	padding:13px 60px 13px 20px;
	text-align: center;
	
}


.l3w{
	font-family: 'Scope One', serif;
	font-size: .8em;
	letter-spacing: 1.4px;
	color: #A8A8A8;
	padding:13px 60px 13px 20px;
	text-align: center;
	
}


.l4w{
	font-family: 'Scope One', serif;
	font-size: .8em;
	letter-spacing: 1.4px;
	color: #A8A8A8;
	padding:13px 60px 13px 20px;
	text-align: center;
	
}





.cp{
	font-family: 'Scope One', serif;
	font-size: .4em;
	letter-spacing: 1.4px;
	color: #616161;
	position: fixed;
	right: 3%;
	top:50%;
}



.footer{
	position: absolute;
	bottom: 0;
	text-align: left;
	left: 3%;
	bottom: 3%;
}

.footerwording{
	font-family: 'Scope One', serif;
	font-size: .4em;
	letter-spacing: 1.4px;
	color: #616161;
	padding: 10px;
}



table {
    border-collapse: collapse;
	font-family: 'Scope One', serif;
	font-size: .4em;
	letter-spacing: 1.4px;
	color: #616161;
	position: absolute;
	right: 28.4%;
	top:67%;
}

table, th, td {
    border-bottom: 1px solid #D2D0D0;
	padding: 15px;
}

tr:hover {background-color: #f5f5f5}

th {
    height: 50px;
}

th, td {
    padding: 15px;
    text-align: left;
}


.ppl{
	font-family: 'Scope One', serif;
	font-size: 1.2em;
	letter-spacing: 1.4px;
	color: #616161;
	position: absolute;
	left:30%;
	top:60%;
}



.title2{
	font-family: 'Scope One', serif;
	font-size: 1.2em;
	letter-spacing: 1.4px;
	color: #616161;
	position: absolute;
	left:30%;
	top:130%;
}



.story{
	font-family: 'Scope One', serif;
	font-size: .6m;
	letter-spacing: 1.4px;
	color: #616161;
	position: absolute;
	left:30%;
	top:135%;
	width: 40%;
	padding: 40px 0;
}



.title3{
	font-family: 'Scope One', serif;
	font-size: 1.2em;
	letter-spacing: 1.4px;
	color: #616161;
	position: absolute;
	left:30%;
	top:180%;
}



.house{
	font-family: 'Scope One', serif;
	font-size: .6m;
	letter-spacing: 1.4px;
	color: #616161;
	position: absolute;
	left:30%;
	top:180%;
	width: 40%;
	padding: 40px 0;
}


.house1{
	width: 40%;
	display: flex;
	flex-direction: column;
	position: absolute;
	top:200%;
	left:30%;
	width: 40%;
}



.house1title{
	font-family: 'Scope One', serif;
	font-size: 1.2em;
	letter-spacing: 1.4px;
	color: #616161;
	position: relative;
	display: flex;
	margin-top:60px;
	color: #1E946F;
	
}


.imgwifi{
	width: 23%;
	position: relative;
	display: flex;
	border-bottom: 1px solid #D2D0D0;
}

.imgcan{
	width: 23%;
	position: relative;
	display: flex;
	border-bottom: 1px solid #D2D0D0;
}

.house1content{
	font-family: 'Scope One', serif;
	font-size: .5m;
	letter-spacing: 1.4px;
	line-height: 1.3;
	color: #616161;
	position:relative;
	width: 55%;
	padding: -5px 0;
	display: flex;
}


.imgpublic{
	width: 23%;
	position: relative;
	display: flex;
	border-bottom: 1px solid #D2D0D0;
}


.imgbill{
	width: 23%;
	position: relative;
	display: flex;
	border-bottom: 1px solid #D2D0D0;
}




.life{
	position:absolute;
	top:400%;
	left: 10px;
	height: 150px;
	width: 70VW;
	text-align: left;
	font-family: 'Scope One', serif;
	font-size: 1.3em;
	background-color: #202020;
}


.photo,.blog{
	color: aliceblue;
	padding: 40px 40px;
}