@media all and (max-width: 480px) {
	
	
	
.T1,.T2,.T3{
opacity: 0;
		
}
	
	
	
.symbol,.symbol2,.sym02,.sym03,.links,.svg-wrapper,.cp{
		opacity: 0;
}	
	
	
.house1{

	left: 13px;
	width: 100%;
}	
	
	
	
.house1content{
		width: 90%;
}
	
	
.table {
    border-collapse: collapse;
	font-family: 'Scope One', serif;
	font-size: .4em;
	letter-spacing: 1.4px;
	color: #616161;
	position: absolute;
	left:14px;
	top:60%;
}

	
.part1{
		left: 4px;
	}
	
	

	
	.table,.ppl{
		position: absolute;
		left: 14px;
		top:70%;
	}	
	
	.ppl{
		font-size: 1em;
		margin-bottom: 40px;
		position: absolute;
		top:60%;
	}
	
	
	
	.title2{
		opacity: 0;
	}
	
	
	.story{
		position: absolute;
		left: 14px;
		width: 300px;
		top:150%;
		font-size: .6em;
	}
	
	
	.part5square{
	position:absolute;
	top:380%;
	left: 0px;
	height: 200px;
	width:300px;
	background-color: white;
	margin-top: 80px;
	z-index: 3;
}
	
	
	
	
.eat{
	position:absolute;
	top:-85%;
	left: 27%;
	width:28%;
	margin-top: 20px;
	transform:rotate(3deg);
}

}